//- Все примеси в этом файле должны начинаться c имени блока (radio)
mixin radio(radiobuttons)

  //- Принимает:
  //-   radiobuttons {array}
  //-     {object}
  //-       title: ''         {string} - текст рядом с радиокнопкой
  //-       helpText: ''      {string} - пояснение под полем
  //-       classes: ''          {string} - классы радиокнопки
  //-       attrs:            {object} - любые атрибуты для input
  //-         name:           {string}
  //-         ...
  //- Вызов:
        +radio([
          {
            title: 'Радиокнопка1',
            helpText: 'Подсказка',
            classes: '',
            attrs: {
              name: 'radio',
              checked: true,
            }
          },
          {
            title: 'Радиокнопка2',
            helpText: 'Подсказка',
            classes: '',
            attrs: {
              name: 'radio',
            }
          },
        ])

  each radio in radiobuttons
    -
      let allClasses = '';
      if (typeof (radio.classes) !== 'undefined' && radio.classes) {
        for (let item of radio.classes.split(',')) {
          allClasses = allClasses + item.trim();
        }
      }

    label(class=`${allClasses.length > 0 ?`${allClasses} `: `` }radio`)
      input.radio__input(type='radio')&attributes(radio.attrs)
      span.radio__name!= radio.title
      if(typeof (radio.helpText) !== 'undefined' && radio.helpText)
        p.radio__help-text!= radio.helpText
