-
  var moviesList = [
    {
      "name": "13 причин почему",
      "likeCount": "25",
      "dislikeCount": "4",
      "seasonsCount": "4 сезона, 8 серий",
      "url": "/",
      "kinopoisk": "КП: 7.5",
      "imdb": "IMDb: 7.7",
      "img": "13reasonswhy"
    },
    {
      "name": "911 служба спасения",
      "likeCount": "38",
      "dislikeCount": "5",
      "seasonsCount": "3 сезона, 18 серий",
      "url": "/",
      "kinopoisk": "7.5",
      "imdb": "7.7",
      "img": "911emergency"
    },
    {
      "name": "Миллион мелочей",
      "likeCount": "9",
      "dislikeCount": "1",
      "seasonsCount": "2 сезона, 19 серий",
      "url": "/",
      "kinopoisk": "6.5",
      "imdb": "6.7",
      "img": "millionthings"
    },
    {
      "name": "Мыслить как преступник",
      "likeCount": "25",
      "dislikeCount": "2",
      "seasonsCount": "15 сезонов, 10 серий",
      "url": "/",
      "kinopoisk": "5.5",
      "imdb": "5.7",
      "img": "criminalminds"
    },
    {
      "name": "Американская история ужасов",
      "likeCount": "42",
      "dislikeCount": "1",
      "seasonsCount": "9 сезонов, 9 серий",
      "url": "/",
      "kinopoisk": "7.8",
      "imdb": "7.9",
      "img": "ahs1984"
    },
    {
      "name": "Castle Rock",
      "likeCount": "42",
      "dislikeCount": "1",
      "seasonsCount": "9 сезонов, 9 серий",
      "url": "/",
      "kinopoisk": "7.8",
      "imdb": "7.9",
      "img": "castlerock"
    },
    {
      "name": "Barry",
      "likeCount": "42",
      "dislikeCount": "1",
      "seasonsCount": "9 сезонов, 9 серий",
      "url": "/",
      "kinopoisk": "7.8",
      "imdb": "7.9",
      "img": "barry"
    },
    {
      "name": "Hilda",
      "likeCount": "42",
      "dislikeCount": "1",
      "seasonsCount": "9 сезонов, 9 серий",
      "url": "/",
      "kinopoisk": "7.8",
      "imdb": "7.9",
      "img": "hilda"
    },
    {
      "name": "Evil Dead",
      "likeCount": "42",
      "dislikeCount": "1",
      "seasonsCount": "9 сезонов, 9 серий",
      "url": "/",
      "kinopoisk": "7.8",
      "imdb": "7.9",
      "img": "evildead"
    },
    {
      "name": "American Gods",
      "likeCount": "42",
      "dislikeCount": "1",
      "seasonsCount": "9 сезонов, 9 серий",
      "url": "/",
      "kinopoisk": "7.8",
      "imdb": "7.9",
      "img": "americangods"
    },
  ];
