:root {
  --text-size: 16px;
  --text-size-l: 20px;
  --text-size-xl: 40px;
  --text-lh: 30px;
  --text-lh-l: 30px;
  --text-lh-xl: 61px;
  --main-indent: 80px;
}

$main-text-color: #fff;
$alter-text-color: #818181;
$head-text-color: #000;

$main-bg-color: #1a1a1a;
$alter-bg-color: #ffcb78;
$neutral-bg-color: #ede5d8;

$accent-color: #4f4f4f;
$accent-color-hover: #6a3900;

$font: "Arial", -apple-system, blinkmacsystemfont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1600px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
