//- Все примеси в этом файле должны начинаться c имени блока (movies-list)

mixin movies-list(classes)

  //- Принимает:
  //-   classes    {string} - список классов
  //- Вызов:
        +movies-list('some-class')

  -
    // список классов
    let allClasses = '';
    if(typeof(classes) !== 'undefined' && classes) {
      for (let item of classes.split(',')) {
        allClasses = allClasses + item.trim();
      }
    }

  ul(class=`${allClasses.length > 0 ? `${allClasses} ` : ``}movies-list`)&attributes(attributes)
    li.movies-list__item
      a.movies-list__link
        picture
          source(type='image/webp', srcset='img/bottle-left@1x.webp 1x, img/bottle-left@2x.webp 2x')
          img.movies-list__img(width='319', height='459', src='img/bottle-left@1x.jpg', srcset='img/bottle-left@2x.jpg 2x', alt='13 Причин почему', loading='lazy')
        +btn('Нравится', 'movies-list__btn')(class='btn--like')
        +btn('Не нравится', 'movies-list__btn')(class='btn--dislike')
        h3.movies-list__title 13 Причин почему
        p.movies-list__seasons 4 сезона, 8 серий
      .movies-list__info
        +btn('В избранное', 'movies-list__btn')(class='btn--favorites')
        +btn('Закрыть', 'movies-list__btn')(class='btn--close')
        +btn('Воспроизвести', 'movies-list__link')(href='/')
        +btn('Рейтинг на кинопоиске', 'movies-list__link')(href='/', class='movies-list__link--rating') КП: 7.5
        +btn('Рейтинг на IMDb', 'movies-list__link')(href='/', class='movies-list__link--rating') IMDb: 7.7
