//- Все примеси в этом файле должны начинаться c имени блока (checkbox)
mixin checkbox(checkboxes)

  //- Принимает:
  //-   checkboxes {array}
  //-     {object}
  //-       title: ''         {string} - текст рядом с чекбоксом
  //-       helpText: ''      {string} - пояснение под полем
  //-       classes: ''          {string} - классы чекбокса
  //-       attrs:            {object} - любые атрибуты для input
  //-         name:           {string}
  //-     ...
  //- Вызов:
        +checkbox([
          {
            title: 'Чекбокс0',
            helpText: 'Подсказка',
            attrs: {
              name: 'check0',
            }
          },
        ])
        +checkbox([
          {
            title: 'Чекбокс1',
            helpText: 'Подсказка',
            classes: 'error',
            attrs: {
              name: 'check1',
              checked: true,
            }
          },
          {
            title: 'Чекбокс2',
            helpText: 'Подсказка',
            classes: 'error',
            attrs: {
              name: 'check2',
            }
          },
        ])

  each checkbox in checkboxes
    -
      let allClasses = '';
      if (typeof (checkbox.classes) !== 'undefined' && checkbox.classes) {
        for (let item of checkbox.classes.split(',')) {
          allClasses = allClasses + item.trim();
        }
      }

    label(class=`${allClasses.length > 0 ?`${allClasses} `: `` }checkbox`)
      input.checkbox__input.visually-hidden(type='checkbox')&attributes(checkbox.attrs)
      span.checkbox__name!= checkbox.title
      if(typeof (checkbox.helpText) !== 'undefined' && checkbox.helpText)
        p.checkbox__help-text!= checkbox.helpText
