extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')
  link(rel='preload', href='fonts/Poppins-Medium.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='fonts/Poppins-Regular.woff2', as='font', crossorigin='anonymous')

block content
  h1 Заголовок с каким-то эффектом
  +movies()
    +menu()
    +movies-list()



//- block append page-bottom
//-   script(src='js/some.js')
