// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu {
  @include reset-list();
}

.menu__item {
  margin-bottom: 25px;
}

.menu__link {
  position: relative;

  padding-right: 20px;

  font-size: var(--text-size-l);
  line-height: var(--text-lh-l);
  color: $main-text-color;

  &:not(:last-child)::after {
    @include css-triangle(white, down, $size: 6px, $round: false);

    top: 10px;
    right: 0;
  }

  &--active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;

      display: block;
      width: 3px;

      background-color: red;
    }
  }

  &:hover,
  &:focus {
    color: $alter-text-color;

    &::after {
      border-top-color: $alter-text-color;
    }
  }
}

.menu__sublist {
  @include reset-list();
}

.menu__subitem {
  display: flex;
}

.menu__sublink {
  padding: 6px 20px;

  color: $alter-text-color;

  border-radius: 20px;

  &--active {
    color: $main-text-color;

    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $main-text-color;

    background-color: lighten($accent-color, 20);
  }
}

@media (max-width: $tablet-width - 1px) {
  .menu {
    display: none;
  }

  .menu--opened .menu {
    display: block;
  }

  html.no-js .menu {
    display: block;
  }
}

@media (max-width: $mobile-width - 1px) {
  .menu {
    position: fixed;
    left: 0;
    z-index: 2;

    width: 200px;
    height: 100vh;
    padding-left: 10px;

    background-color: $main-bg-color;
    border-top-right-radius: 7px;
    box-shadow: 10px 5px 10px 1px black;
  }

  .menu__link {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;

    &:not(:last-child)::after {
      top: 25px;
    }
  }

  .menu__sublink {
    flex-grow: 1;

    border-radius: 0;
  }
}
