-
  var mainMenu = [
    {
      "id": "0",
      "name": "История",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Производство",
      "url": "/",
    },
    {
      "id": "20",
      "name": "Ассортимент",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Где купить",
      "url": "/"
    },
  ];
